CMakeCache.txt
CMakeFiles
cmake_config.h
cmake_install.cmake
Doxyfile
CTestTestfile.cmake
build*
*~
*.orig
#comment
doxygen-tag
*.log
*BASE*
*LOCAL*
*REMOTE*
doxy-header.html
*.svn
headertest*
Makefile
stamp-h1
config.*
dune-stuff.pc
*.swp
CMakeLists.txt.user
demos
dune/stuff/test/gtest/lib
data
!dune/stuff/data
.libs
*.o
*.la
*.user
