CMakeCache.txt
CMakeFiles
cmake_config.h
cmake_install.cmake
Doxyfile
CTestTestfile.cmake
doc/doxygen
build*
html
man
*~
*.orig
#comment
doxygen-tag
*.log
*BASE*
*LOCAL*
*REMOTE*
doxy-header.html
*.svn
headertest*
Makefile
Makefile.in
.deps
stamp-h1
missing
config.*
autom4te.cache
depcomp
aclocal.m4
libtool
dune-stuff.pc
configure
ltmain.sh
install-sh
dependencies.m4
am
*.swp
CMakeLists.txt.user
demos
*.gch
