Rene Milk <rene.milk@uni-muenster.de> Rene Milk <koshi@springlobby.info>
Rene Milk <rene.milk@uni-muenster.de> Rene Milk <r_milk01@DUNE-PROJECT.(none)>
Rene Milk <rene.milk@uni-muenster.de> Rene Milk <r_milk01@DUNE-PROJECT.uni-muenster.de>
Rene Milk <rene.milk@uni-muenster.de> Rene Milk <r_milk01@stinson.(none)>
Rene Milk <rene.milk@uni-muenster.de> Rene Milk <r_milk01@LOCKHEED.uni-muenster.de>
Rene Milk <rene.milk@uni-muenster.de> Rene Milk <kosh@cpt-awesome.(none)>
Rene Milk <rene.milk@uni-muenster.de> Rene Milk <kosh@koshmob.(none)>
Rene Milk <rene.milk@uni-muenster.de> Rene Milk <r_milk01@JAX.uni-muenster.de>
Rene Milk <rene.milk@uni-muenster.de> Rene Milk <r_milk01@SCORPION.uni-muenster.de>
Rene Milk <rene.milk@uni-muenster.de> Rene Milk <r_milk01@BARNEY.uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de> Felix Albrecht <felix@almob.(none)>
Felix Schindler <felix.schindler@wwu.de> Felix Albrecht <felix@server.(none)>
Felix Schindler <felix.schindler@wwu.de> Felix Tobias Albrecht <f_albr01@SCORPION.uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de> Felix Albrecht <felix.albrecht@mail.uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de> Felix Tobias Albrecht <f_albr01@BARNEY.uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de> Felix Albrecht <felix.albrecht@uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de> Felix Albrecht <felix.albrecht@math.uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de> Felix Tobias Albrecht <falbr_01@BARNEY.(none)>
Kirsten Weber <k_webe11@wwu.de> Kirsten <kirsten@kirsten>
Kirsten Weber <k_webe11@wwu.de> Kirsten Weber <k_webe11@LOCKHEED.uni-muenster.de>
Kirsten Weber <k_webe11@wwu.de> Kirsten Weber <k_webe11@pingpong.(none)>
Kirsten Weber <k_webe11@wwu.de> Kirsten Weber <k_webe11@wwu.de>
Stefan Girke <stefan.girke@gmx.de> Stefan Girke <s_girk01@pris.(none)>
Stefan Girke <stefan.girke@gmx.de> Stefan <stefan@stefan.(none)>

# geratene duneadm zuordnung
Rene Milk <rene.milk@uni-muenster.de> Mario Ohlberger <duneadm@DUNE-PROJECT.(none)>
Rene Milk <rene.milk@uni-muenster.de> Mario Ohlberger <duneadm@SCORPION.uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de> Mario Ohlberger <duneadm@JAX.uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de> Mario Ohlberger <duneadm@BARNEY.(none)>
Rene Milk <rene.milk@uni-muenster.de> Mario Ohlberger <duneadm@zivsmp001.cvos.cluster>
