# This file is part of the dune-stuff project:
#   https://github.com/wwu-numerik/dune-stuff
# The copyright lies with the authors of this file (see below).
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)
# Authors:
#   Felix Schindler (2015)

[header]
name = This file is part of the dune-stuff project:
url = https://github.com/wwu-numerik/dune-stuff
license = BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)
prefix = //

[files]
include_patterns = *.cc *.cxx *.hh *.hxx *cmake_config.h.in *headercheck.cpp.in *config.h.cmake *version.hh.in
exclude_patterns = ''
