# This file is part of the dune-stuff project:
#   https://github.com/wwu-numerik/dune-stuff
# The copyright lies with the authors of this file (see below).
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)
# Authors:
#   Felix Schindler (2015)
#   Rene Milk       (2015)

[header]
name = This file is part of the dune-stuff project:
url = https://github.com/wwu-numerik/dune-stuff
license = BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)
prefix = #

[files]
include_patterns = *.txt *.cmake *.py *.sh *.bash *.md *.dgf *.msh *.gdb *.cfg *.travis.* *.gitignore *.mailmap *.gitattributes *gitignore-* *stamp-vc *dune.module *Doxylocal *.clang-format *COPYING-CMAKE-SCRIPTS *README *LICENSE *mainpage *switch-build_dir *dune-xt-common.pc.in
exclude_patterns = *config.h.cmake
