# This file is part of the dune-xt-common project:
#   https://github.com/dune-community/dune-xt-common
# The copyright lies with the authors of this file (see below).
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)
# Authors:
#   Felix Schindler (2015 - 2016)

[header]
name = This file is part of the dune-xt-common project:
url = https://github.com/dune-community/dune-xt-common
license = Dual licensed as BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)
          //      or  GPL-2.0+ (http://opensource.org/licenses/gpl-license)
          //          with "runtime exception" (http://www.dune-project.org/license.html)
prefix = //

[files]
include_patterns = *.cc *.cxx *.hh *.hxx *cmake_config.h.in *headercheck.cpp.in *config.h.cmake *version.hh.in *.pbh
exclude_patterns = *mathexpr.* *gtest-all.cc
