# This file is part of the dune-xt-common project:
#   https://github.com/dune-community/dune-xt-common
# Copyright 2009-2018 dune-xt-common developers and contributors. All rights reserved.
# License: Dual licensed as BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)
# Authors:
#   Felix Schindler (2013, 2016 - 2017)
#   Rene Milk       (2012, 2015, 2018)
#   Tobias Leibner  (2016)
#
#      or  GPL-2.0+ (http://opensource.org/licenses/gpl-license)
#          with "runtime exception" (http://www.dune-project.org/license.html)

test_validation
*.o
*.gcda
*.gcno
common_color
common_logger
common_parameter_validation
function_expression_2
common_math
common_profiler
common_string
common_typenames
data/
fem_error
fem_projection
function_expression
grid_information
grid_provider
function.param
provider.param
pgfoutput_*
common_tuple
grid_output_pgf
functions_constant
functions_expression
functions_checkerboard
functions_functions
perm_case1.dat
